.currentContainer {
    border-style: solid;
    padding: 10px;
    display: inline-block;
    margin-left: 30%;
    width: 100%;
};

.five-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
};

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: end;
};

.cardHolder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: end;
}